@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.grey{
    border-color: #0967d219;
    border-width:7px;
    border-style:solid;
}    
.white{
    background-color:white;
    background-size: cover;
}
.bg-container {
    padding: 15px;
    
}
.grey-covid{
    background-color:#0967d219;
    margin: 10px;
    border-radius:20px;
}
.head {
    font-family: "roboto";
    font-size: 25px;
    font-weight: 500;
    color:#323f4b;
}
.btn{
    border-radius:10px;
}
.if-you{
    font-family: roboto;
    color: #707070;

}
.covid-19{
    padding: 5px;
}
.gap{
    padding: 10px;
    margin: 10px;
    height: 80px;
    text-align: center;
}
.royal-description {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
    background-size: cover;
}
.Symptoms{
    font-family: "roboto";
    font-size:25px;
    margin: 10px;
}
.images{
    margin: 10px;
    height:150px;
}
.image1{
    background-color:#3ebd93;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    color:#ffffff;
    font-family: roboto;
}
.image2{
    background-color:#e668a7;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    color:#ffffff;
    font-family: roboto;
}
.image3{
    background-color:#a368fc;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    color:#ffffff;
    font-family: roboto;
}
.videos{
    font-size: 25px;
    font-family:"roboto";
    color:#323f4b;
    padding: 10px;
    
}
.image-color{
    background-color: #e12d3919;
    margin:10px;
    padding:10px;
    border-radius: 20px;
}
.paragraph{
  padding: 10px;  
}
.to-prevent{
    font-family: Roboto;
    font-size:22px;
    color:#323f4b;
}
.if-you{
    color: #707070;
}
.docter{
    width:100px;
    padding: 10px;
}
.btn{
    width:114px;

}